spring:
  application:
    name: notifications

  datasource:
    url: ${NAIS_DATABASE_KLAGE_NOTIFICATIONS_API_KLAGE_NOTIFICATIONS_API_JDBC_URL}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 15

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    open-in-view: false

  flyway:
    enabled: true
    schemas: flyway_history_schema,klage
    connect-retries: 2
    clean-disabled: true

management:
  endpoint:
    health:
      show-details: always
  endpoints.web:
    exposure:
      include: info, health, metrics, prometheus
    base-path: "/internal"
  metrics:
    tags:
      application: ${spring.application.name}
  tracing:
    enabled: false
  prometheus:
    metrics:
      export:
        enabled: true

server:
  port: 8080

no.nav.security.jwt:
  client:
    registration:
      azure-onbehalfof:
        token-endpoint-url: https://login.microsoftonline.com/${TENANT_ID}/oauth2/v2.0/token
        grant-type: urn:ietf:params:oauth:grant-type:jwt-bearer
        scope: https://graph.microsoft.com/.default
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt
  issuer.aad:
    discoveryurl: ${AZURE_APP_WELL_KNOWN_URL}
    accepted_audience: ${AZURE_APP_CLIENT_ID}

NOTIFICATION_EVENTS_TOPIC: klage.klage-notification-events.v1
NOTIFICATION_INTERNAL_EVENTS_TOPIC: klage.klage-notification-internal-events.v1
NOTIFICATION_INTERNAL_CHANGE_EVENTS_TOPIC: klage.klage-notification-internal-change-events.v1