name: Build and deploy feature a dev environment

on:
  workflow_dispatch:
    inputs:
      build-tag:
        description: "Git ref (branch, tag or commit) of the code to build"
        required: false
        default: main
        type: string
      nav-environment:
        description: "Dev environment to deploy to (dev, neon, argon)"
        required: false
        default: dev
        type: string

jobs:
  build:
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: navikt/klage-workflows/.github/workflows/build-deploy-feature.yml@main
    secrets: inherit
    with:
      build-tag: ${{ inputs.build-tag }}
      nav-environment: ${{ inputs.nav-environment }}