name: Build, deploy dev, draft main

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'kafka-aiven/**'
      - '.github/dependabot.yml'

jobs:
  build:
    permissions:
      contents: write
      packages: write
      pull-requests: write
      id-token: write
    uses: navikt/klage-workflows/.github/workflows/build-deploy-main.yml@main
    secrets: inherit
    with:
      nav-cluster: 'dev-gcp'