name: Build, deploy dev, deploy prod

on:
  push:
    branches:
      - main
    paths-ignore:
      - 'kafka-aiven/**'
      - '.github/dependabot.yml'
#  For testing
  workflow_dispatch:

jobs:
  build:
    permissions:
      contents: write
      packages: write
      pull-requests: write
      id-token: write
    uses: navikt/klage-workflows/.github/workflows/build-deploy-main.yml@main
    secrets: inherit