name: Build and deploy feature a dev environment

# run-name kan kun referere til github og inputs kontekstene
run-name: Manual build and deploy of ${{(contains(fromJson('["tag", "branch"]'), github.ref_type) && !contains(fromJson('["main"]'), github.ref_name)) && github.ref_name || inputs.ref_name}} to ${{inputs.nav-environment}}

on:
  workflow_dispatch:
    inputs:
      build-tag:
        description: "Git ref (branch, tag or commit) of the code to build"
        required: false
        default: main
        type: string
      nav-environment:
        description: "Dev environment to deploy to"
        required: true
        default: neon
        type: choice
        options:
          - neon
          - argon
          - dev
          - e2e

jobs:
  build:
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: navikt/klage-workflows/.github/workflows/build-deploy-feature.yml@main
    secrets: inherit
    with:
      build-tag: ${{ inputs.build-tag }}
      nav-environment: ${{ inputs.nav-environment }}