name: Manual build and deploy in a dev environment

# run-name kan kun referere til github og inputs kontekstene
run-name: Manual build and deploy of ${{(contains(fromJson('["tag", "branch"]'), github.ref_type) && !contains(fromJson('["main"]'), github.ref_name)) && github.ref_name || inputs.ref_name}} to ${{inputs.nav-environment}}

on:
  workflow_dispatch:
    inputs:
      build-tag:
        description: "Git ref (branch, tag or commit) of the code to build"
        required: false
        default: main
        type: string
      e2e-tests:
        type: string
        default: 'kabal,kaka,kabin,klang'
        description: 'Comma-separated list of e2e tests to run. Leave empty to skip all e2e tests.'

jobs:
  build:
    permissions:
      contents: read
      packages: write
      id-token: write
    uses: navikt/klage-workflows/.github/workflows/build-deploy-feature.yaml@main
    secrets: inherit
    with:
      build-tag: ${{ inputs.build-tag }}
      nav-environment: dev
      e2e-tests: ${{ inputs.e2e-tests }}